.profile__edit-button {
    padding: 0;
    margin-left: 18px;
    background-color: black;
    background-image: url(../../../images/Vector-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    min-width: 24px;
    min-height: 24px;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-left: 10px;
    }
}