.profile {
    max-width: 68.75%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}

@media screen and (max-width: 940px) {
    .profile__add-button:last-child {
        align-self: flex-start;
    }
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 533px) {
    .profile {
        flex-direction: column;
        margin: 42px 5.94% 0;
        max-width: 100%;
    }
}