.popup__line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 60%;
    min-width: 358px;
    margin: 54px auto 0;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.popup__line:last-of-type {
    margin:30px auto 0;
}

@media screen and (max-width: 459px) {
    .popup__line {
    min-width: 238px;
    max-width: 60%;
    margin: 75px 22px 0;
    }
}

@media screen and (max-width: 320px) {
    .popup__line {
    min-width: 238px;
    max-width: 60%;
    margin: 75px 22px 0;
    }
}