.footer__text {
    margin: 66px 15.625% 60px;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
}

@media screen and (max-width: 320px) {
    .footer__text {
        margin: 48px 5.94% 36px;
        font-size: 14px;
        line-height: 1.21;
    }
}