.elements__like {
    background-image: url(../../../images/Vector-like.svg);
    background-size: contain;
    min-height: 19px;
    min-width: 22px;
    background-repeat: no-repeat;
}

.elements__like:hover {
   opacity: .5; 
   cursor: pointer;
}