.popup__close-button {
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    min-height: 32px;
    position: absolute;
    top: -40px;
    right: -32px;
    border: none;
    background-color: transparent;
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 527px) {
    .popup__close-button {
        width: 20px;
        min-height: 20px;
        top: -36px;
        right: 0;
    }
}