.popup__activity {
    border: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    max-width: 100%;
    min-width: 100%;
    text-align: start;
    
}

@media screen and (max-width: 940px) {
    .profile__activity {
        text-align: center;
    }
}